DATABASE_URL="postgresql://postgres:postgres@localhost:5432/enterprise_node?schema=public"
NODE_ENV=development
PORT=3000
TZ=Asia/Yangon
LOG_LEVEL=info
JWT_ACCESS_SECRET="a-secret-at-least-32-characters-long-xxxx"
JWT_REFRESH_SECRET="a-secret-at-least-32-characters-long-yyyy"
JWT_RESET_SECRET="a-secret-at-least-32-characters-long-zzzz"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_RESET_EXPIRES_IN=10m